In [1]:
import pandas as pd

In [2]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

In [3]:
df = pd.read_csv(url, nrows = 100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv(url, iterator=True, chunksize=100000)

In [9]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [10]:
from time import time

In [11]:
while True: 
    
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('Inserted another chunk; took %.3f seconds.' % (t_end - t_start))

Inserted another chunk; took 10.303 seconds.
Inserted another chunk; took 9.968 seconds.
Inserted another chunk; took 10.048 seconds.
Inserted another chunk; took 10.442 seconds.
Inserted another chunk; took 10.252 seconds.
Inserted another chunk; took 10.630 seconds.
Inserted another chunk; took 10.632 seconds.
Inserted another chunk; took 10.120 seconds.
Inserted another chunk; took 10.264 seconds.
Inserted another chunk; took 10.642 seconds.
Inserted another chunk; took 10.565 seconds.
Inserted another chunk; took 10.194 seconds.

/tmp/ipykernel_54066/2598556293.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk; took 10.441 seconds.
Inserted another chunk; took 6.530 seconds.

StopIteration:

In [12]:
zones_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

In [13]:
df_zones = pd.read_csv(zones_url)

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265